.App {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  color: whitesmoke;
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: whitesmoke;
  text-decoration: none;
}
